body{
    background-color: darkgray;
}

h1, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 5px 0 0 ;
    padding: 0; 
    text-align: center;
}
 form{
    text-align: center;
 }

 button{
    display: inline-block;
    margin: 10px;
 }

 img{
    display: block;
    margin: auto;
 }
